<div class="margin">
  <div class="container mt-5">
    <h3 class="mb-5 p-3 border-bottom">Images</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let productImage of productImages" class="col">
        <div class="card h-100 shadow">
          <div class="card-header bg-transparent pe-1">
            <button
              [swal]="{
                title: 'Are You Sure?',
                text: 'Are you sure you want to delete this image?',
                icon: 'question',
                showCancelButton: true
              }"
              (confirm)="deleteImage(productImage)"
              class="btn btn-danger btn-sm float-end"
            >
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
          <a style="cursor: pointer">
            <img
              [src]="productImage.imageUrl"
              class="card-img-top img-fluid mh-100 p-3"
              alt="product-image"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner></ngx-spinner>
