/* Custom styles for responsiveness */
@media (min-width: 576px) {
  .form-signin {
    max-width: 100%; /* Full width on small screens */
  }
}

@media (min-width: 768px) {
  .form-signin {
    max-width: 25%; /* 50% width on medium screens */
    margin: 0 auto; /* Center the container */
  }
}
