<div class="margin">
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <button
          [routerLink]="['/admin/categories/add']"
          type="button"
          class="btn float-end"
          title="Add"
        >
          <i class="bi bi-plus text-primary fs-3"></i>
        </button>
        <h3 class="mb-5 p-3 border-bottom">Categories</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table
        class="table table-hover table-borderless text-center align-middle"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Url Handle</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let category of categories
                | paginate : { itemsPerPage: 20, currentPage: p }
            "
          >
            <td>{{ category.name }}</td>
            <td>{{ category.urlHandle }}</td>
            <td>
              <div class="btn-group" role="group">
                <button
                  [routerLink]="[
                    '/admin/categories/products',
                    category.urlHandle
                  ]"
                  type="button"
                  class="btn"
                  title="Products"
                >
                  <i class="bi bi-box-fill text-info fs-5"></i>
                </button>
                <button
                  [routerLink]="['/admin/categories', category.urlHandle]"
                  type="button"
                  class="btn"
                  title="Edit"
                >
                  <i class="bi bi-pencil-square text-success fs-5"></i>
                </button>
                <button
                  [swal]="{
                    title: 'Are You Sure?',
                    text: 'Are you sure you want to delete this category?',
                    icon: 'question',
                    showCancelButton: true
                  }"
                  (confirm)="deleteCategory(category)"
                  type="button"
                  class="btn"
                  title="Delete"
                >
                  <i class="bi bi-trash text-danger fs-5"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col mt-5 mx-5">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<ngx-spinner></ngx-spinner>
